@{
    ViewBag.Title = "About";
}

<h3>About Wish Project</h3>
<br />

<p>

    Instructions: <br />
    1. Please register your Username (specify valid e-mail address).<br />
    2. Then you're redirected to preferences page where you can specify your preferences:<br />
    a. Choose your Username from drop-down list (registered on previous page),<br />
    b. Choose your occasion from drop-down list (Birthday, Christmas, Anniversary, Valentines, Other),<br />
    c. Manually specify your gift preferences for this occasion (and/or specify your Occasion together with Preferences if you have chosen Other in previous drop-down option),<br />
    d. Tick box if you would like to get flowers on that occasion. <br />
    3. Press create button in order to save your preferences.
    <br />
    <br />

    Usage tips: <br />
    1. You can create as many preferences as you wish once you've created Username. Just press "Add Preference" link on top of the web page.<br />
    2. You can download this application for your Windows Phone from Windows Store if you prefer mobile version.<br />
    3. Complaints, suggestions and compliments can be sent to site administrators from "Contact Us" link on top of the web page.

    <br />

</p>

