@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us Page</h2>
<br />


<address>
    <h4>Institute of Technology Tallaght</h4>
    Old Blessington Road<br />
    Tallaght<br />
    Dublin 24<br />
    Phone: 01 404 2000<br />
    Fax: 01 404 2002  
</address>

<address>
    <strong>Val Steve (project manager):</strong>   <a href="mailto:Val.Steve@valsteve.su">Val.Steve@valsteve.su</a><br />
    <strong>Niall Coffee (operation manager):</strong> <a href="mailto:Niall.Coffee@niallcoffee.su">Niall.Coffee@niallcoffee.su</a>
</address>