@model WishApp.Models.User

@{
    ViewBag.Title = "Details";
}


<h3>User Details Page</h3>
<br/>
<br />
<h4>User @Html.DisplayFor(model => model.Email) details: </h4> 

@*<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>*@

<br>
<br>
<br>
<br>
<br>
<br>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |*@
    @Html.ActionLink("Back to User List", "Index")
</p>
