@model IEnumerable<WishApp.Models.User>

@{
    ViewBag.Title = "Index";
}

    <h3>User List Page</h3>
<br />
<br />

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            <h4>List of registered users:</h4>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <div class="myButtonCRUD">
                @Html.ActionLink("Details", "Details", new { id = item.UserId })
            </div>
            <div class="myButtonCRUD">
                @Html.ActionLink("Edit", "Edit", new { id = item.UserId })
            </div>
            <div class="myButtonCRUD">
                @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
            </div>
        </td>
    </tr>
}

</table>
